@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', 'Open Sans', 'Great Vibes', sans-serif;
}   
div > a{
    text-decoration: none;
    list-style: none;
    color: #FFC107;
}
.btn-main {
    border: 1px solid;
    background-color: inherit;
    color: #fff;
    padding: 0 10px;
}
.btn-main:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.imagePreview {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 100px 0 0 0;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.915);
    height: 50%;
    width: auto;
    display: none;
}

.floating_chat_head {
    display: none;
    position: fixed;
    z-index: 6;
    bottom: 0;
    right: 0;
    background-color: #fff;
    background-image: url('../images/saint.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: 15px;
    border-radius: 90px;
    border: 3px solid #000;
    cursor: pointer;
    transition: 2s linear;
    overflow: hidden;
}

.floating_chat_body {
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.floating_chat_body > div {
    flex: auto;
    transform: scaleY(-1);
    overflow-x: hidden;
    overflow-y: auto;
}

.floating_chat_body .card {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
}

.floating_chat_body .comment-area textarea{
    resize: none; 
    border: 1px solid #000;
}

.floating_chat_body .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}