.why-container {
	overflow-x: hidden;
	overflow-y: hidden;
}
.why-box {
	border: 1px solid #000;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	gap: 20px;
	margin: 10px;
	padding: 20px 10px 10px 10px;
}
@media screen and (max-width: 1440px) {
	.why-box:nth-child(6) {
        animation: slide6 5s linear forwards paused;
    }
    @keyframes slide6 {
    	0% {
      	    opacity: 1;
	  	}
  	  	20% {
      	    transform: translateX(150%);
      	    opacity: 1;
  	  	}
  	  	21% {
      	    opacity: 0;
  	  	}
  	  	35% {
      	    transform: translateX(-550%);
      	    opacity: 0;
  	  	}
  	  	36% {
      	    opacity: 1;
  	  	}
  	  	100% {
      	    transform: translateX(0);
      	    opacity: 1;
  	  	}
    }
    .why-box:nth-child(5) {
        animation: slide5 5s linear forwards paused;
    }
    @keyframes slide5 {
      	0% {
      	    opacity: 1;
	  	}
  	  	20% {
      	    transform: translateX(150%);
      	    opacity: 1;
  	  	}
  	  	25% {
      	    transform: translateX(250%);
      	    opacity: 1;
  	  	}
  	  	26% {
      	    opacity: 0;
  	  	}
  	  	40% {
      	    transform: translateX(-510%);
      	    opacity: 0;
  	  	}
  	  	41% {
      	    opacity: 1;
  	  	}
  	  	100% {
      	    transform: translateX(0);
      	    opacity: 1;
  	  	}
    }
    .why-box:nth-child(4) {
        animation: slide4 5s linear forwards paused;
    }
    @keyframes slide4 {
      	0% {
      	    opacity: 1;
	  	}
  	  	20% {
      	    transform: translateX(150%);
      	    opacity: 1;
  	  	}
  	  	25% {
      	    transform: translateX(250%);
      	    opacity: 1;
  	  	}
  	  	30% {
      	    transform: translateX(350%);
      	    opacity: 1;
  	  	}
  	  	31% {
      	    opacity: 0;
  	  	}
  	  	45% {
      	    transform: translateX(-470%);
      	    opacity: 0;
  	  	}
  	  	46% {
      	    opacity: 1;
  	  	}
  	  	100% {
      	    transform: translateX(0);
      	    opacity: 1;
  	  	}
    }
    .why-box:nth-child(3) {
        animation: slide3 5s linear forwards paused;
    }
    @keyframes slide3 {
      	0% {
      	    opacity: 1;
	  	}
  	  	20% {
      	    transform: translateX(150%);
      	    opacity: 1;
  	  	}
  	  	25% {
      	    transform: translateX(250%);
      	    opacity: 1;
  	  	}
  	  	30% {
      	    transform: translateX(350%);
      	    opacity: 1;
  	  	}
  	  	35% {
      	    transform: translateX(450%);
      	    opacity: 1;
  	  	}
  	  	36% {
      	    opacity: 0;
  	  	}
  	  	50% {
      	    transform: translateX(-430%);
      	    opacity: 0;
  	  	}
  	  	51% {
      	    opacity: 1;
  	  	}
  	  	100% {
      	    transform: translateX(0);
      	    opacity: 1;
  	  	}
    }
    .why-box:nth-child(2) {
        animation: slide2 5s linear forwards paused;
    }
    @keyframes slide2 {
      	0% {
      	    opacity: 1;
	  	}
  	  	20% {
      	    transform: translateX(150%);
      	    opacity: 1;
  	  	}
  	  	25% {
      	    transform: translateX(250%);
      	    opacity: 1;
  	  	}
  	  	30% {
      	    transform: translateX(350%);
      	    opacity: 1;
  	  	}
  	  	35% {
      	    transform: translateX(450%);
      	    opacity: 1;
  	  	}
  	  	40% {
      	    transform: translateX(550%);
      	    opacity: 1;
  	  	}
  	  	41% {
  	  		transform: translateX(600%);
      	    opacity: 0;
  	  	}
  	  	55% {
      	    transform: translateX(-390%);
      	    opacity: 0;
  	  	}
  	  	56% {
      	    opacity: 1;
  	  	}
  	  	100% {
      	    transform: translateX(0);
      	    opacity: 1;
  	  	}
    }
}
@media screen and (max-width: 425px) {
	.why-box {
    	width: 75%;
    }
    .why-box:nth-child(2) {
        transform: translateX(-100%);
        animation: slideRight 1s linear forwards paused;
    }
    .why-box:nth-child(3) {
        transform: translateX(-200%);
        animation: slideRight 1.1s linear forwards paused;
    }
    .why-box:nth-child(4) {
        transform: translateX(-300%);
        animation: slideRight 1.2s linear forwards paused;
    }
    .why-box:nth-child(5) {
        transform: translateX(-400%);
        animation: slideRight 1.3s linear forwards paused;
    }
    .why-box:nth-child(6) {
        transform: translateX(-500%);
        animation: slideRight 1.4s linear forwards paused;
    }
    @keyframes slideRight {
      	0% {
      		
      	}
      	100% {
        	transform: translateX(0);
      	}
    }
}