<IfModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 404 /admin/not-found.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /capstone/admin/not-found.php [L]
</IfModule>