@import url('https://fonts.googleapis.com/css2?family=Poppins:width@200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #f9f9f9;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 2em;
	color: #359381;
	pointer-events: none;
	margin-right: 25%;
}

.navigation a {
	text-decoration: none;
	color: #359381;
	padding: 6px 15px;
	border-radius: 20px;
	margin: 0 10px;
	font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
	background: #359381;
	color: #fff;
}

:root{
	--gra: linear-gradient(45deg, cyan, royalblue);
}
main{
	width: 100%;
	margin: 100px auto;
}
header{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header ul li{
	list-style: none;
	color: #359381;
	padding: 6px 15px;
	border-radius: 20px;
	margin-left: 10px;
	font-weight: 600;
	float: left;
}
header ul li a{
	color: inherit;
	text-decoration: none;
}
header ul li.active{
	background: #359381;
	color: #fff;
}
header ul li.active a{
	color: white;
	font-weight: bold;
}
.filter-condition{
	color: #359381;
	padding: 6px 15px;
	border-radius: 20px;
	margin-right: 10px;
	font-weight: 600;
}
.filter-condition select{
	width: 120px;
  padding: 0 0 0 15px;
  border: none;
  outline: none;
  font-weight: 600;
  color: black;
  background: transparent;
  cursor: pointer;
}
.product-field{
	padding: 0px 20px;
}
.product-field ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.product-field ul li{
	list-style: none;
	width: 23.4%;
	height: 400px;
	transition: 0.5s all;
	background: whitesmoke;
	/*overflow: hidden;*/
	padding: 10px;
	margin: 200px 10px 0 10px;
	position: relative;
}
picture{
	background: #eee;
	padding: 5px;
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 100%;
  height: 85%;
  border-radius: 50px 0px 0 0px;
  overflow: hidden;
  box-shadow: 0px 1px 0px #00000020, -1px 0px 0px #ccc;
  border: 1px solid;
}
picture img {
  width: 90%;
  z-index: 1;
  padding: 30px 0 25px 25px;
}
.detail{
	width: 100%;
	height: 100%;
	margin-top: 75%;

}
.detail > strong{
	display: inherit;
	margin: 20px;
	font-size: 30px;
	letter-spacing: 2px;
	color: #359381;
}
.detail > span{
	display: inherit;
	padding: 0 20px;
	width: 80%;
}
.detail small{
	color: black;
	display: inline-block;
  padding: 8px 20px;
  margin: 15px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #999;
  cursor: pointer;
}
.detail small:hover{
  background: #359381;
	color: #fff;
	border-color: white;
}
li h4{
  position: absolute;
  right: 10px;
  top: 40%;
  font-size: 30px;
  color: #359381;
  text-shadow: 1px 1px 2px black;
}